<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--DashBoard-->
    <!---->
    <servlet>
        <servlet-name>dashboardGraph</servlet-name>
        <servlet-class>service.dashboard.Graph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardGraph</servlet-name>
        <url-pattern>/dashboardGraph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboardGlyph</servlet-name>
        <servlet-class>service.dashboard.Glyph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardGlyph</servlet-name>
        <url-pattern>/dashboardGlyph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboardMatrix</servlet-name>
        <servlet-class>service.dashboard.Matrix</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardMatrix</servlet-name>
        <url-pattern>/dashboardMatrix</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboardTreeMap</servlet-name>
        <servlet-class>service.dashboard.TreeMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardTreeMap</servlet-name>
        <url-pattern>/dashboardTreeMap</url-pattern>
    </servlet-mapping>

    <!---->
    <!--Инициализация-->
    <listener>
        <listener-class>service.dependence.Intialization</listener-class>
    </listener>


    <!--загрузчики-->
    <servlet>
        <servlet-name>uploadXML</servlet-name>
        <servlet-class>service.upload.UploadXML</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadXML</servlet-name>
        <url-pattern>/uploadXMLServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadCSV</servlet-name>
        <servlet-class>service.upload.UploadCSV</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadCSV</servlet-name>
        <url-pattern>/uploadCSVServlet</url-pattern>
    </servlet-mapping>


    <!---->
    <!--получение данных для визуализации (используют графические модели)-->
    <servlet>
        <servlet-name>infoServlet</servlet-name>
        <servlet-class>service.info.InfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>infoServlet</servlet-name>
        <url-pattern>/infoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetJson</servlet-name>
        <servlet-class>service.info.GetJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetJson</servlet-name>
        <url-pattern>/getJson</url-pattern>
    </servlet-mapping>


    <!---->
    <!--графические модели (это полные, те которые в дашборде - ограниченные)-->
    <servlet>
        <servlet-name>Graph</servlet-name>
        <servlet-class>service.viz.Graph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphArrows</servlet-name>
        <servlet-class>service.viz.GraphArrows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphGlyph</servlet-name>
        <servlet-class>service.viz.GraphGlyph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphGlyphArrows</servlet-name>
        <servlet-class>service.viz.GraphGlyphArrows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matrix</servlet-name>
        <servlet-class>service.viz.Matrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreeMap</servlet-name>
        <servlet-class>service.viz.TreeMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Graph</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphArrows</servlet-name>
        <url-pattern>/graphArrows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphGlyph</servlet-name>
        <url-pattern>/graphGlyph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphGlyphArrows</servlet-name>
        <url-pattern>/graphGlyphArrows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matrix</servlet-name>
        <url-pattern>/matrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreeMap</servlet-name>
        <url-pattern>/treeMap</url-pattern>
    </servlet-mapping>


</web-app>